# IDEs and editors.
.vscode
.vs
.idea

# Compilations.
*.pyc
*__pycache__

# Drivers
geckodriver.exe
geckodriver
geckodriver.log
chromedriver.exe

# Virtual enviroments.
env
.env
.venv
envagentes
wenv 

# Folders ignore
log/
data/
datos/
excel_exports/
analysis/excel_exports/
testing
.data_analysis
data_analysis
.ipynb_checkpoints
output
.DS_Store
.analisis
# Keys ignore.
bb.pem
misato
misato.pub
ca2
detest
bb-private
bb-private.ppk
bb-private.pem
bb-private-misato
kaji
kaji.pub
bb-private
bb-private Facundo
handle/_tests_
# Files ignore.
*.log
*.xlsx
*.csv
*.ipynb
*.zip
*.tar
*.tar.gz

# New Main
# main2.py
# main2_testing.py

# "ver_old"
ver_old/__pycache__
ver_old/handle/__pycache__
ver_old/platforms/__pycache__
ver_old/geckodriver.log
ver_old/geckodriver.exe
ver_old/.vscode
ver_old/.vs
ver_old/__pycache__
ver_old/handle/__pycache__
ver_old/platforms/__pycache__
ver_old/datos

# Specific Files ignore.
__pycache__
handle/__pycache__
platforms/__pycache__
handle/__init__.pyc
piracy/__init__.pyc
platforms/__init__.pyc
produ/__init__.pyc
handle/mongo.py
handle/other_mongo.py
script.log
root.log
sagai.csv
get-pip.py
platforms/scrapingclaro.py
pyvenv.cfg
.gitignore
*_boja.py
platforms/beinconnect_.py
platforms/prueba.py
panda-scripts.py
plataf47.py
run_multiple_platforms.py
plataformas.json
deeplink_checker.py
main_pruebas.py
local_test.py
handle/listaPlatformCode.txt
handle/update_varios.txt
color_preferences_v2.dat
recent.connections
studio3t.connections.v100.list
bb-private.pub
apiPresence2PreScraping.py
vscode
Youtubeepisodes.py
